/***********************
 *
 * Custom style sheet for Aspen Health Care Consulting
 *
 * Important to save a copy of this file when updating theme, if theme is ever updated
 *
 */

#webform-component-first-name {
  float: left;
}

#webform-component-last-name {
  float: left;
  margin-left: 10px;
  clear: right;
}

#webform-component-phone {
  float: left;
  margin-left: 10px;
}

#webform-component-company,
#webform-client-form-31 #webform-component-email-address,
#webform-component-question-or-comment,
#webform-client-form-31 #edit-actions {
  clear: left;
  float: left;
}

#edit-submitted-company {
  width: 400px;
}

#edit-submitted-first-name, 
#edit-submitted-last-name,
#edit-submitted-phone {
  width: 250px;
}

#edit-submitted-question-or-comment {
  width: 720px;
}

.page-node-31 .post_share_wrap {
  display: none;
}

#block-views-random-testimonial-block {
  float: left;
  border: 1px solid #222;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  z-index: 1;
}

header{
  min-height: 145px !important;
}

.eight, .row .eight { width: 70% !important; } /* overrides foundation.css */
.four, .row .four { width: 30% !important; } /* overrides foundation.css */

.front_page_testimonials { width: 30% !important; float: left; display: block; padding: 0 0px;}
.front_page_testimonials p { padding: 0 20px;}

.front #highlight {
  margin-top: 10px;
}

.client_img {
  min-height: 75px;
}

.bullets-right {
  float: left;
  width: 47%;
  clear: right;
}

.bullets-left {
  float: left;
  display: block;
  width: 47%;
  clear: left;
  margin-bottom: 20px;
}

.content h2 {
  clear: left;
  padding-top: 0px;
}

input[type="text"] {
  color: #1e560c;
}

#testimonials_box_link {
  margin-top: 20px;
  font-style: italic;
  margin-botom: 0;
}

.view-random-testimonial .views-field-field-name-and-position {
  font-style: italic;
  margin-top: 10px;
}

.view-random-testimonial .views-field-field-company {
  font-weight: bold;
}

.view-random-testimonial {
  margin-bottom: -20px !important;
}

#block-block-10 {
  display: block;
  float: left;
  width: 47%;
}

#block-block-10 h2, 
#block-block-11 h2 {
  font-size: 20px;
}

#block-block-11 {
  display: block;
  float: left;
  width: 47%;
}

#block-block-13 h2,
#block-webform-client-block-50 h2 {
  margin-top: 0px;
  padding-top: 10px;
}

.top-bar ul > li.has-dropdown a {
  padding-right: 27.75px;
}

.nine, .row .nine { 
  width: 60% !important;
}

.three, .row .three {
  width: 40% !important;
}

#main_title_text {
  font-size: 45px !important;
}

.node-type-feed-item br {
  display: block;
  line-height:40px;
}

.slider_wrap {
  margin-top: 0px;
}
