/***********************
 *
 * Custom style sheet for Aspen Health Care Consulting
 *
 * Important to save a copy of this file when updating theme, if theme is ever updated
 *
 */

#webform-component-first-name {
  float: left;
}

#webform-component-last-name,
#webform-component-phone {
  float: left;
  margin-left: 10px;
  clear: right;
}

#webform-component-company,
#webform-component-email-address,
#webform-component-question-or-comment,
#webform-client-form-31 #edit-actions {
  clear: left;
  float: left;
}

#edit-submitted-company {
  width: 400px;
}

#edit-submitted-first-name, 
#edit-submitted-last-name,
#edit-submitted-phone {
  width: 250px;
}

#edit-submitted-question-or-comment {
  width: 720px;
}

.page-node-31 .post_share_wrap {
  display: none;
}